<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{systemName}} | Offline</title>
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body>

    <div class="grid h-screen place-content-center bg-white px-4">
        <div class="text-center">
            <h1 class="text-9xl font-black text-gray-200">Offline</h1>

            <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Just a little closer.</p>

            <p class="mt-4 text-gray-500">It looks like you could'nt connect to the server.</p>

            <a href="/dashboard"
                class="mt-6 inline-block rounded-md text-rooted bg-white border-2 border-rooted hover:text-rooted-foreground px-5 py-3 text-sm font-medium hover:bg-rooted focus:outline-none focus:ring">
                Test connection
            </a>
        </div>
    </div>


</body>

</html>