<script src=" https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js "></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tinymce@6.4.1/skins/ui/oxide/content.min.css">
<script src="https://cdn.jsdelivr.net/npm/tinymce@6.4.1/tinymce.min.js"></script>
<script src="/assets/js/base64.js"></script>

<div>
    {{!-- Personal message to the user, encourage them to explore our product range --}}
    <h1 id="greeting" class="font-bold text-3xl"> Have a browse of latest and greatest Gardening Products!</h1>
</div>

<br>

<div class="mt-6 flex w-full p-6 mb-4">
    <h3 class="text-xl font-semibold">Product</h3>
    
    <div id="products" class="flex flex-col"></div>
</div>

<script>
    class Products {
        constructor() {
            document.addEventListener('DOMContentLoaded', () => {
                this.products = document.getElementById('products');

                this.fetchProducts = this.fetchProducts.bind(this);
                this.renderProducts = this.renderProducts.bind(this);
                this.renderError = this.renderError.bind(this);

                this.fetchProducts();
            })
        }

        renderProducts(products) {
            for (let i = 0; i < products.length; i++) {
                const product = products[i]
                const div = document.createElement('div');

                div.innerHTML = `
                    <div class="flex flex-col gap-6">
                        <img src"${product.image}" class="w-full h-auto">
                    </div>
                    <div class="flex flex-col">
                        <p class="mb-4">Name: ${product.name}</p>
                        <p class="mb-4">Price: ${formatCurrency(product.price, '{{currency_code}}')}</p>
                        <button id="buy-now" class="text-gray-600 hover:text-rooted">Buy Now</button>
                    </div>
                `

                div.querySelector('#buy-now').addEventListener('click', () => {
                    notify.success('Product has been reserved for 48 hours please wait for a payment link sent to your email', 'Success');
                })

                this.products.appendChild(div);
            }
        }

        renderError() {
            this.products.innerHTML = `
                <h3 class="text-red-500 font-bold">Error fetching products</h3>
            `
        }

        fetchProducts() {
            fetch('/products/api')
                .then(res => res.json())
                .then((data) => {
                    if (data.code === 200) {
                        this.renderProducts(data.data.products);
                    }
                }).catch((err) => {
                    console.log(err)
                    this.renderError();
                })
        }
    }

    const product = new Products();
</script>